/trunk/SlickEdit/MyMacros/rsync_macros/rsync.ex
/trunk/SlickEdit/MyMacros/rsync_macros/rsync_macro.vpwhist
/trunk/SlickEdit/MyMacros/rsync_macros/rsync_macro.vtg
/trunk/SlickEdit/MyMacros/align_chars/*.ex
/trunk/SlickEdit/MyMacros/auto_lint/*.ex
/trunk/SlickEdit/MyMacros/*.ex
/trunk/SlickEdit/MyMacros/common/*.ex
/trunk/SlickEdit/MyMacros/copy_unit_test_diff_file/*.ex
/trunk/SlickEdit/MyMacros/escape_string/*.ex
/trunk/SlickEdit/MyMacros/filepath_utils/*.ex
/trunk/SlickEdit/MyMacros/graeme_macros/*.ex
/trunk/SlickEdit/MyMacros/insert_debug_timer/*.ex
/trunk/SlickEdit/MyMacros/my_emulation/*.ex
/trunk/SlickEdit/MyMacros/narrow_to_region/*.ex
/trunk/SlickEdit/MyMacros/no_mouse_rtClk/*.ex
/trunk/SlickEdit/MyMacros/rtClk_debug_print/*.ex
/trunk/SlickEdit/MyMacros/ruby_macros/*.ex
/trunk/SlickEdit/MyMacros/run_command_into_slick/*.ex
/trunk/SlickEdit/SEBook/Chapter01/*.ex
*.ex
join_line_with_space.ex
/trunk/dev_scripts/ruby/BuildMirrorProject/.bash_profile
/trunk/dev_scripts/ruby/BuildMirrorProject/.functions
/trunk/dev_scripts/ruby/BuildMirrorProject/.aliases
/trunk/ConfigRepo.vpwhist
/trunk/ConfigRepo.vtg
